/* Host */
:host {
  display: block;
}

/* Container */
:host > div {
  display: block;
}

/* Label Wrapper, contains the label of component as well as the instigator. */
:host > div > label {
  display: block;
}

/* Label */
:host > div > label > span {
  display: block;
}

/* Instigator Wrapper */
:host > div > label > div {
  display: block;
}

/* Instigator Text */
:host > div > label > div > strong {
  display: block;
}

/* Options list */
:host > div > [role="listbox"] {
  display: block;
}

/* Option */
:host > div > [role="listbox"] > [role="option"] {
  display: block;
}

/* Selected Option */
:host > div > [role="listbox"] > [role="option"][aria-selected="true"] {
  display: block;
}