/* Utility classes */

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.no-events {
  pointer-events: none;
}

.rotate-180 {
  /*
    We use scaleY instead of rotate, as it also mirrors the transformation.
    Good for non-1:1 bounding rects.
  */
  transform: scaleY(-1)
}

/* Host */
:host {
  display: block;
}

/* Container */
:host {
  display: block;
}

/* Label Wrapper, contains the label of component as well as the instigator. */
:host > label {
  display: block;
}

/* Label */
:host > label > span {
  display: block;
}

/* Instigator Wrapper */
:host > label > [role="combobox"] {
  display: block;
}

/* Instigator Text */
:host > label > [role="combobox"] > strong {
  display: block;
}

/* Instigator Placeholder Text */
:host > label > [role="combobox"] > span {
  display: block;
}

/* Options list */
:host > [role="listbox"] {
  display: block;
  border: 1px solid red;
}

/* Option */
:host > [role="listbox"] > [role="option"] {
  display: block;
}

/* Disabled option */
:host > [role="listbox"] > [role="option"][aria-disabled="true"] {
  display: block;
  opacity: 0.5;
}

/* Selected Option */
:host > [role="listbox"] > [role="option"][aria-selected="true"] {
  display: block;
}